.Reviews__List {
  margin-left: 0px;
}

.Review__Item {
  margin-bottom: 10px;
  padding: 10px;
  list-style-type: none;
  border: 2px solid #76b1ffd2;
  border-radius: 15px;
  background-color: #76b1ff42;
  width: 98%;
}
