.OneMovieView__section {
  text-align: left;
  margin-left: 15px;
  padding: 10px;
  border-bottom: 1px solid #2a363b;
}

.OneMovieView__container {
  display: flex;
  width: 98%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: inset -1px 3px 8px 5px #1f87ff, 2px 5px 16px 0px #0b325e,
    10px 1px 12px -5px rgba(0, 0, 0, 0.46);
}

.OneMovieView__image {
  padding-top: 30px;
  width: 17%;
  height: fit-content;
}

.OneMovieView__text {
  margin-left: 20px;
}

.Additional {
  text-align: left;
  margin-left: 15px;
  padding: 10px;
}
